@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.5px #ded2f8;
  }
  .font-outline-white-2 {
    -webkit-text-stroke: 0.5px white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  max-width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}
